/* This stylesheet changes the way the buttons look based on severity of procrastination. */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 200px;
}

p {
    background-color: black;
}

p.great {
    background-color: blue;
}

p.good {
    background-color: green;
}

/* change font color */
p.ok {
    background-color: white;
    color: black;
}

p.relieved {
    background-color: yellow;
}

p.worried {
    background-color: orange;
}

p.panicked {
    background-color: red;
}
