/* This stylesheet changes the way the buttons look based on severity of procrastination. */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 200px;
}

p {
    background-color: black;
}

label[for="great"] {
    border: solid blue;
    background-color: blue;
}

label[for="good"] {
    border: solid green;
    background-color: green;
}

/* change font color */
label[for="ok"] {
    border: solid white;
    background-color: white;
    color: black;
}

label[for="relieved"] {
    border: solid yellow;
    background-color: yellow;
}

label[for="worried"] {
    border: solid orange;
    background-color: orange;
}

label[for="panicked"] {
    border: solid red;
    background-color: red;
}
